body {background-color: #d0f4c4;}



.title {

  text-align: center;

  background-color: #072cd2; /* banner color */

  color: white;              /* text color */

  font-family: Papyrus;

  font-size: 50px;

  padding: 30px;

  margin: 0; /* ensures banner stretches edge to edge */

}



p {

  color: #4b703f;

  font-family: Helvetica;

  font-size: 20px;

  text-align: center;

  margin-bottom: 30px;

}



img {

  border-style: double;

  border-width: 10px;

  border-color: #072cd2;

  display: block;

  margin-left: auto;

  margin-right: auto;

}



a {

  text-decoration: none;

  color: #2E49AF;

  font-family: Helvetica;

  font-size: 20px;

